__pycache__/

db.sqlite3



config/config
.env
uploads

local_settings.py


# Byte-compiled / optimized / DLL files

*.py[cod]



.ebextensions/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

Procfile

