{% extends 'base.html' %}
{% block css %}
    <style>
        .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: lightcoral;

        }


        .style-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-control {
            max-width: 300px;
        }

        h4 {
            background-color: #ffaf34;
            border-radius: 5px;
            padding: 0.3% 5%;
            margin: 15px 0;
        }

        .filebox {
            display: inline-flex;
        }

        {# 인풋 스타일 변경#}
        .filebox .upload-name {
            display: inline-block;
            height: 35px;
            padding: 0 10px;
            vertical-align: middle;
            border: 1px solid #dddddd;
            width: 78%;
            color: #999999;
        }

        {# lable 스타일 변경 #}
        .filebox label {
            display: inline-block;
        {#padding: 10px 20px;#}
            background-color: khaki;
            cursor: pointer;
            border-radius: 5px;

        }

        {# 기존 디자인 없애기 #}
        .filebox input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
        }

        {# ######## 라디오 꾸미기#########}
        .radio-img input[type="radio"]{
            display: none;
        }
        .radio-img input[type="radio"]:checked + img{
            border: 4px solid orangered;
        }

        .radio-img img {
            margin-right: 1em;
            transition: .4s;
            cursor: pointer;
            border: 4px solid transparent;
            width: 160px;
            height: 100px;
        }
    {#################################}
    #preview{
        margin-top: 3%;
    }


    </style>
{% endblock css %}
{% block content %}
    <div class="container">
        <h4>Title</h4>
        <input type="text" name="title" id="title">
{#        <div class="filebox">#}
{#            <label for="uplaod_img">Select base picture</label>#}
{#            <input type="file" name="upload_img" id="uplaod_img" accept="image/*">#}
{#        </div>#}
        <input type="file" name="upload_img" id="upload_img" accept="image/*">
        <h4>Choose style options</h4>


        <div class="radio-img">
            <label>
                <input type="radio" name="radio" value="LSD">
                <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/LSD.jpg">
            </label>
            <label>
                <input type="radio" name="radio" value="drug">
                <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/drug.jpg" alt="drug">
            </label>
            <label>
                <input type="radio" name="radio" value="drug2">
                <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/drug2.jpg" alt="drug2">
            </label>
            <label>
                <input type="radio" name="radio" value="drug3">
                <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/drug3.jpg" alt="drug3">
            </label>
            <label>
                <input type="radio" name="radio" value="drug4">
                <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/drug4.jpg" alt="drug4">
            </label>
            <label>
                <input type="radio" name="radio" value="hush">
                <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/hush.jpg" alt="hush">
            </label>
            <label>
                <input type="radio" name="radio" value="kkm">
                <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/kkm.jpg" alt="kkm">
            </label>

        </div>

        <button id="paint-submit" class="btn btn-warning">Start Convert</button>
        <img id="preview" src="">

        <button id="create" class="btn btn-warning">저장하기</button>
    </div>

{% endblock %}
{% block script %}
    <script>

        const preview = document.getElementById('preview')
        const submitBtn = document.getElementById('paint-submit')
        submitBtn.addEventListener('click', (e) => {
            e.preventDefault()
            const img = $('#upload_img')[0].files[0]
            const title = document.getElementById('title').value
            const style = $("input[name=radio]:checked").val()

            //인공지능 서버의 스키마 값과 일치해야함. file, name, style
            let form_data = new FormData()
            form_data.append('file', img)
            form_data.append('name', title)
            form_data.append('style', style)
            const img_form_data = new FormData()
            img_form_data.append('img', img)
            img_form_data.append('title', title)
            {#$.ajax({#}
            {#    type:"POST",#}
            {#    url:'api/paints/create',#}
            {#    contentType : false,#}
            {#    processData : false,#}
            {#    data: img_form_data ,#}
            {#    dataType:"JSON",#}
            {#    success : function(json) {#}
            {#        console.log(json)#}
            {#        alert(json['msg'])#}
            {#    }#}
            {#    });#}
            $.ajax({
                type: "POST",
                url: `http://183.97.229.232:5000/hello/${title}&${style}`,
                contentType: false,
                processData: false,
                data: form_data,
                dataType: "JSON",
                // 성공하면 preview의 src에 url넣어 출력
                success: function (json) {
                    console.log(json)
                    preview.src = json['hello']
                }
            });
        })
        // csrf token
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

    </script>

{% endblock %}
