
{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
{% block content %}

    <h1>painting</h1>
    <div class="paintings infinite-container">
        
        <a href="?ordering=-created">최신 순</a>
        <a href="?ordering=-like_count">좋아요 순</a>
    
        {%for paint in object_list %}
            <div class="paint infinite-item" data-id="{{paint.id}}">
                
                <h3>{{paint.title}}</h3>
                <img src="/uploads/{{paint.image}}" style="width: 300px;">
                <p>writer : {{paint.owner}}</p>
                <p>작성시간: {{paint.created_string}}</p>
                <span>liked : {{paint.likes.count}}</span>
                <button class="like-btn" >좋아요</button>
                {% if paint.owner == request.user %}
                    <button class="del-btn">삭제 🗑</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- {% if page_obj.has_next %}
        <a class="infinite-more-link" href ="?page={{ page_obj.next_page_number }}"></a>
    {% endif %} -->
<!-- <div id="hidden-box" >잠시만 기다려주세요</div> -->
{% endblock %}
{% block script %}
<!-- <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
<script src="/static/js/infinite.min.js"></script> -->

<script>
    
    
    /* <const infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad : function(){
            $('#hidden-box').show()
        },
        onAfterPageLoad: function(){
            $('#hidden-box').hide()

        }

    })
    */

    
    const likeBtns = document.querySelectorAll('.like-btn')
    for (i=0;i<likeBtns.length;i++){
        likeBtns[i].addEventListener('click',(e)=>{
            console.log('a')
            e.preventDefault()
            const arr = e.target.parentNode.children[4].innerText.split(' ')
            const number = parseInt(arr[arr.length - 1])
            const paint_id = e.target.parentNode.dataset.id
            $.ajax({
                type:"POST",
                url:`http://localhost:8000/api/paints/like/${paint_id}`,
                success : function(json) {
                    if (json.msg == 'delete'){
                        e.target.parentNode.children[4].innerText = `liked : ${number - 1}`
                    } else if (json.msg == 'ok') {
                        e.target.parentNode.children[4].innerText = `liked : ${number + 1}`
                    } else {
                        alert(json.msg)
                    }
                }
                });
        })
    }
    
    const delBtns = document.querySelectorAll('.del-btn')
    for (i=0;i<delBtns.length;i++){
        delBtns[i].addEventListener('click',(e)=>{
            e.preventDefault()
            const paint_id = e.target.parentNode.dataset.id
            $.ajax({
                type:"DELETE",
                url:`http://localhost:8000/api/paints/delete/${paint_id}`,
                success : function(json) {
                    if (json.msg == 'delete') {
                        alert('게시물이 삭제되었습니다.')
                        window.location.reload()
                    } else if (json.msg == 'err-user') {
                        alert('삭제 권한이 없습니다.')
                    } else if (json.msg == 'not founded') {
                        alert('게시물이 존재하지 않습니다.')
                    }
                }
                });
        })
    }


    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });
</script>
{% endblock %}
