{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mypage.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
{% endblock %}
{% block content %}

<div class="header">
    <div class="header-info">
        <img src="https://sseoka.s3.ap-northeast-2.amazonaws.com/{{user.avatar}}" alt="">
        <div class="name-box">
            <h1>{{user.username}}</h1>
            {% if user.username == request.user.username%}
                <button type="button" class="btn btn-light" id="testBtn" data-toggle="modal" data-target="#exampleModal">
                    프로필 사진 변경
                </button>
            {%endif%}
              
        </div>
    </div>

</div>
<div class="bin">

</div>
{%if not paintings %}
<div class="empty-box">
    <h1>비어 있음</h1>
    <p>{{user.username}}의 <a href="/create">첫 번째</a> 그림을 만들어보세요 !</p>

</div>
{% endif %}
<div class="wrapper">

    <div class="paintings infinite-container">
        {%for paint in paintings %}
            <div class="paint infinite-item" >
                <img class="imgs" src="https://sseoka.s3.ap-northeast-2.amazonaws.com/{{paint.upload_image}}">
                <img class="imgs" src="https://sseoka.s3.ap-northeast-2.amazonaws.com/{{paint.upload_image}}">
                <img class="imgs" src="https://sseoka.s3.ap-northeast-2.amazonaws.com/{{paint.upload_image}}">
                <div class="info-box">
                    <div class="first-box">
                        <img src="https://sseoka.s3.ap-northeast-2.amazonaws.com/{{paint.owner.avatar}}" alt="">
                        <div class="title-box">
                            <h2>{{paint.title}}</h2>
                            <p>{{paint.created_string}}</p>
                        </div>
                    </div>
                    <div class="second-box">
                        <span>{{paint.like_count}}</span>
                        <span class="like-btn"  >
                                <i class="fa-solid fa-heart fa-2x" data-id="{{paint.id}}"></i>
                        </span>           
                        {% if paint.owner == request.user %}
                            <span class="del-btn" ><i class="fa-solid fa-trash-can fa-2x" data-id="{{paint.id}}"></i></span>
                        {% endif %}
                    </div>
                </div>  
            </div>
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href ="?page={{ page_obj.next_page_number}}&ordering={{ordering}}"></a>
        {% endif %}
    </div>
</div>



<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" tabindex="-1" id="testModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">프로필 사진 변경</h5>
          </button>
        </div>
        <div class="modal-body">
            <form  method="POST" action="/avatar/" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="img"/>
                <button>전송</button>
            </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
    $('#testBtn').click(function(e){
        e.preventDefault();
        $('#testModal').modal("show");
    });
    const likeAdd = (e) => {
        e.preventDefault()
        console.log(e)
        const paint_id = e.target.dataset.id
        const target = e.target.parentNode.parentNode.children[0].innerText
        $.ajax({
            type:"POST",
            url:`/api/paints/like/${paint_id}`,
            success : function(json) {
                if (json.msg == 'delete'){
                    e.target.parentNode.parentNode.children[0].innerText = parseInt(target) - 1
                } else if (json.msg == 'ok') {
                    e.target.parentNode.parentNode.children[0].innerText = parseInt(target) + 1
                } else {
                    alert(json.msg)
                }
            }
            });
    }
    const likeDel = (e) => {
        e.preventDefault()
        const paint_id = e.target.dataset.id
        $.ajax({
            type:"DELETE",
            url:`/api/paints/delete/${paint_id}`,
            success : function(json) {
                if (json.msg == 'delete') {
                    alert('게시물이 삭제되었습니다.')
                    window.location.reload()
                } else if (json.msg == 'err-user') {
                    alert('삭제 권한이 없습니다.')
                } else if (json.msg == 'not founded') {
                    alert('게시물이 존재하지 않습니다.')
                }
            }
            });
    }
    let likeBtns = document.querySelectorAll('.like-btn')
    for (i=0;i<likeBtns.length;i++){
        likeBtns[i].addEventListener('click',likeAdd)
    }
    
    let delBtns = document.querySelectorAll('.del-btn')
    for (i=0;i<delBtns.length;i++){
        delBtns[i].addEventListener('click',likeDel)
    }
</script>
{% endblock %}