{% extends 'base.html' %}
{% block content %}
    <img src="/uploads/{{user.avatar}}" style="width: 300px;">
    <h1>{{user.username}}님의 페이지</h1>
    <div class="paintings">
        {%for paint in paintings %}
            <div class="paint" data-id="{{paint.id}}">
                
                <h3>{{paint.title}}</h3>
                <img src="/uploads/{{paint.image}}" style="width: 300px;">
                <p>writer : {{paint.owner}}</p>
                <p>작성시간: {{paint.created_string}}</p>
                <span>liked : {{paint.likes.count}}</span>
                <button class="like-btn">좋아요</button>
                {% if paint.owner == request.user %}
                    <button class="del-btn">삭제 🗑</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
<script>
    const likeBtns = document.querySelectorAll('.like-btn')
    for (i=0;i<likeBtns.length;i++){
        likeBtns[i].addEventListener('click',(e)=>{
            console.log('a')
            e.preventDefault()
            const arr = e.target.parentNode.children[4].innerText.split(' ')
            const number = parseInt(arr[arr.length - 1])
            const paint_id = e.target.parentNode.dataset.id
            $.ajax({
                type:"POST",
                url:`/api/paints/like/${paint_id}`,
                success : function(json) {
                    if (json.msg == 'delete'){
                        e.target.parentNode.children[4].innerText = `liked : ${number - 1}`
                    } else if (json.msg == 'ok') {
                        e.target.parentNode.children[4].innerText = `liked : ${number + 1}`
                    } else {
                        alert(json.msg)
                    }
                }
                });
        })
    }
    
    const delBtns = document.querySelectorAll('.del-btn')
    for (i=0;i<delBtns.length;i++){
        delBtns[i].addEventListener('click',(e)=>{
            e.preventDefault()
            const paint_id = e.target.parentNode.dataset.id
            $.ajax({
                type:"DELETE",
                url:`/api/paints/delete/${paint_id}`,
                success : function(json) {
                    if (json.msg == 'delete') {
                        alert('게시물이 삭제되었습니다.')
                        window.location.reload()
                    } else if (json.msg == 'err-user') {
                        alert('삭제 권한이 없습니다.')
                    } else if (json.msg == 'not founded') {
                        alert('게시물이 존재하지 않습니다.')
                    }
                }
                });
        })
    }

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });
</script>
{% endblock %}