
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'paintings:home' %}">
            <img style="width: 100px;" src="https://sahayana-nts.s3.ap-northeast-2.amazonaws.com/SD_logo.png" alt=""/></a>
{#                <a class="navbar-brand" href="/home">Seukka Dream</a>#}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'paintings:home' %}">Home</a>
                    </li>
                    <li class="nav-item">                        
                        <a class="nav-link" href="#" >About</a>                       
                    </li>                    
                </ul>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                        <button type="button" class="btn btn-warning" onclick="location.href='{% url 'paintings:create' %}'">Generate</button>
                        <a href="/{{ user.username }}" style="margin-left: 30px"><img src="https://sseoka.s3.ap-northeast-2.amazonaws.com/{{user.avatar}}" class="pic" style="border: 3px solid #dcdcdc; width:50px; height:50px; border-radius:50%;"/></a>
                    {% else %}
                        <a href="{% url 'paintings:sign_up_or_in' %}" style="margin-left: 1%">로그인</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
</header>
