{% extends 'base.html' %}
{% block content %}
    <div class="enter-box">
        <form action="/api/users/sign" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="username" required placeholder="아이디를 적어주세요.">
            <input type="password" name="password"  id="password"  required placeholder="비밀번호를 입력해주세요.">
            <button id="signBtn">입장하기</button>
        </form>
    </div>
{% endblock %}
{% block script %}
<script>
    const signBtn = document.querySelector('#signBtn')
    signBtn.addEventListener('click',(e)=>{
        e.preventDefault()
        const username =  document.querySelector('#username').value
        const password =  document.querySelector('#password').value
        $.ajax({
            type:"POST",
            data : {'username':username, 'password':password},
            url:'/api/users/sign',
            success : function(json) {
                const msg = json.msg
                console.log(json["msg"])
                if (msg == 'incorrect pw') alert('입력하신 정보가 일치하지 않습니다. ❗')
                else if (msg == 'ok') window.location.href = '/home'
                else alert(msg)
            }
            });
    })
    // csrf token
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
</script>
{% endblock %}
